* {
  box-sizing: border-box;
}

.dashboard {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  height: px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forecast-card {
  width: 8rem;
  background-color: #3f9ab6;
  color: #fff;
}
